This is a private network and may only be accessed by specifically authorized personnel.
Any unauthorized access is unlawful, and may be subject to civil and/or criminal penalties.
Any use of the network may be logged or monitored without further notice,
and that the resulting logs may be used as evidence in court.