export EC2_AMITOOL_HOME=/mnt/tmp/ec2-ami-tools-1.5.4
export EC2_APITOOL_HOME=/mnt/tmp/ec2-api-tools-1.7.1.1
export PATH=$PATH:$EC2_AMITOOL_HOME/bin:$EC2_APITOOL_HOME/bin
export EC2_HOME=$EC2_AMITOOL_HOME